html,body {
  font-family: arial;
  font-size: 1.1em;
}

.container {
  margin: auto;
  width: 800px;
}

.heading {
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em 0;
}

input,textarea {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: gray;
}

.offscreen {
  top: -1000px;
  font-size: 1px;
}

.navigation{
  outline: none;
  margin-top: 30px;
  
}

#nav{
  color: rgb(23, 90, 129);
  display:inline-block;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

.error {
  color: red;
}

#accessibilitybanner {
  width: 857px;
  height: 207px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family:'Inter', sans-serif;
  line-height: 190px;
  margin-top: -25px;
}

#individualLinks{
  color: black;

}

h1{
  color: white;
  background-color: black;
  background-image: url(pics/banner.jpg);
}